<!-- <p>app-stock-landing works!</p> -->
<div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
    <div class="text-center">
      <h1 class="display-4 font-weight-bold mb-4">Manage Stocks</h1>
      <div class="d-flex justify-content-center">
        <button routerLink="addstock" class="btn btn-primary btn-lg mr-3">Add Items to Stock</button>
        <button routerLink="all-stocks" class="btn btn-success btn-lg">See All Stocks</button>
      </div>
    </div>
</div>
