<div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
    <div class="text-center">
      <h1 class="display-4 font-weight-bold mb-4">Welcome to Equifax Inventory Management System</h1>
      <div class="d-flex justify-content-center">
        <button class="btn btn-primary btn-lg mr-3" routerLink="stocks">Check and Add Stocks</button>
        <button class="btn btn-success btn-lg" routerLink="orders">Order Products</button>
        <button class="btn btn-warning btn-lg" routerLink="orders/orderhistory">View Order History</button>
      </div>
    </div>
  </div>